.card-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 50px 50px;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: center;
    align-items: center;
}

.cards-for-label {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
}