.card-list {
    /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 50px 50px;
    margin-left: 5rem;
    margin-right: 5rem;
    justify-content: center;
    align-items: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    gap: 70px;
    margin-bottom: 15rem;
    margin-top: 13rem;
}

.cards-for-label {
    font-size: 60px;
    padding-top: 30px;
    /* width: 600px; */
    /* margin-top: 20px; */
}