
.visibility-button.visible {
    visibility: visible;
}

.visibility-button.hidden {
    visibility: hidden;
}

.create-board-button {
    margin-bottom: 0;
}

label {
    padding-left: 20px;
    padding-right: 20px;
}
.board-form {
    font-size: 40px;
}

.title-owner {
    margin-bottom: 15px;
}

.image-selector {
    margin-bottom: 25px;
}
/* .create-board-label {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
} */

/* .card-form-inputs {
    
} */

.form-field {
    width: 250px;
    height: 30px;
    border-radius: 7px;
    font-size: 20px;
    background-color: #f7e6fa;

}
.image-form-field {
    border-radius: 7px;
    font-size: 18px;
    background-color: #f7e6fa;
}

#create-button {
    align-self: center;
    width: 300px;
    height: 55px;
    height: auto;
    font-size: 20px;
    background-color: #edc1f5;
    border: 3px solid;
    border-radius: 50px;
    border-color: #fcd4dd;
    padding: 5px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    filter: drop-shadow(16px 16px 10px rgba(0,0,0,0.4));
    color: black;
    transition: all .2s ease-in-out;
    margin-top: -30px;
}

.create-button:hover{
    box-shadow: 0 0 10px 0 white inset, 0 0 20px 2px white;
    border: 3px solid white;
    transform: scale(1.1);
}