
body {
  background-image: url('https://cdn.pixabay.com/photo/2012/12/24/08/39/background-72250_1280.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  font-family: 'Amatic SC', cursive;
  position: relative;
  margin-top: -70px;
  height: 100%;
  /* overscroll-behavior: none; */
}

.App {
  text-align: center;

  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px;
}

.header { 
  position: sticky;
  font-size: 20px;
  width: 100%;
  background: linear-gradient(180deg, #edc1f5, #fcd4dd, transparent);
  height: 350px;
  font-size: 80px;
  margin-top: -110px;
}

.form-container {
  position: relative;
  height: 100%;
}

.selected-board {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.card-list {
  position: relative;
}

footer {
  width: 100%;
  background: linear-gradient(180deg, transparent, #fcd4dd, #edc1f5);
  height: 150px;
  font-size: 80px;
  margin-top: -110px;
}
